@model To_Do_List.Models.ProfileDisplayTaskViewModel
@using Task = To_Do_List.Models.Task;

@{
    ViewData["Title"] = "Assigned Tasks";

    if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}



<h1>Assigned Tasks for @Html.DisplayFor(Model => Model.Name)</h1>

<p>
    <a asp-action="/Task/Create">Create new task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
@foreach (Task task in Model.AllTasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Description)
            </td>
            <td>
                <a asp-controller="Task" asp-action="Delete" asp-route-id="@task.TaskId">Delete task</a>
                <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.TaskId">Edit task</a> |
            </td>
        </tr>
}
    </tbody>
</table>
